.table{
    border: 2px solid black;
    empty-cells: hide;
    margin: 10px 10px;
    padding: 0px 0px;
    width: 700px;
    height: 200px;
    border-spacing: 0;
}

.tr-1{
    background-color: rgb(239, 94, 172);
    color: white;
    width: 60px;
    height: 40px;
    font-size: smaller;
   

}

.tr-2{
    width: 70px;
    height: 40px;
    font-size: x-small;
    font-weight: bold;
    background-color: orange;
    text-align: center;
    
    
}

.tr-3{
    width: 70px;
    height: 40px;
    font-size: x-small;
    font-weight: bold;
    text-align: center;
   
    
}

.email{
    color: blue;
}